<div align="right">
    {% if user.is_authenticated %}
        Welcome, {{ user.username }}<br />
        <a href="/accounts/logout/">Logout</a><br />
        <a href="/accounts/profile/">Profile</a><br />
        <a href="{% url directory.views.add_club %}">Add club</a>
    {% else %}
        <a href="/accounts/login/">Login</a><br />
        <a href="{% url registration_register %}">Register</a><br />
        <a href="{% url registration_anonymous %}">Add club</a><br />
    {% endif %}
</div>
