{% extends "decorator.html" %}

{% block rss_inheader %}<link rel="alternate" type="application/rss+xml" title="All clubs news" href="/rss/site/" />{% endblock %}

{% block rss_link %} | <a href="/rss/site/">RSS</a>{% endblock %}

{% block content %}
<h1>{% block index_page_title %}{% endblock %}</h1>
<div id="main">

{% block index_page_intro %}{% endblock %}

<h2>{% block index_page_subtitle %}{% endblock %}</h2>

{% load partition %}
<table>
{% for row in all_states_list|columns:3 %}
    <tr>
    {% for state in row %}
        <td class="column"><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></td>
    {% endfor %}
    </tr>
{% endfor %}
</table>


<h2>{% block index_page_countries_title %}Find Club In Your Country{% endblock %}</h2>
{% for region in regions %}
    <h3>{% block index_page_countries_subtitle %}{% endblock %} {{ region.name }}</h3>
    {% if region.region_countries.count %}
        <table>
			{% for row in region.region_countries.all|columns:3 %}
			<tr>
	            {% for region_country in row %}
	                <td class="column"><a href='{{ region_country.get_absolute_url }}'>{{ region_country.name }}</a></td>
	            {% endfor %}
			</tr>
            {% endfor %}
        </table>
    {% endif %}
{% endfor %}


{# news div #}
<div id="news">
{% if news %}
{% include "news/news_block.html" %}
{% endif %}
</div>
{# news div end #}

{% if flatpages %}
<h2>{% block articles_title %}{% endblock %}</h2>
<div>
{% block articles_description %}
{% endblock %}
<ol>
	{% for flatpage in flatpages %}
		<li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
	{% endfor %}
</ol>
</div>
{% endif %}

</div>
{% endblock content %}

{% block footertext %}{{ block.super }}. Our niched directories is: <a href="http://allswingersclubs.org/">Swingers Clubs</a> - <a href="http://allfetishclubs.org/">Fetish & BDSM Clubs</a> - <a href="http://allgayclubs.org/">Gay Clubs</a>. We are open to any suggestions and buisiness offers.{% endblock %}