{% extends "decorator.html" %}
{% load comments %}


{% block title %}{{club.title}} Hookup{% endblock %}

{% block title_suffix %} in {% if club.state %}{{ club.city }}{% else %}{{ club.city.country.name }}{% endif %}{% endblock %}

{% block inhead %}
	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABCDE"></script>
	<script type="text/javascript">
		google.load("jquery", "1.3.2");
	</script>
{% endblock %}

{% block description %}{{club.description|striptags|truncatewords:40|force_escape}}{% endblock %}


{% block content %}

<div class="hreview-aggregate">
<h1><span class="item"><span class="fn org">{{club.title}}</span></span> {% block club_page_title_suffix %}{% endblock %}</h1>

<div id="main">
	{% if club.homepage %}
	<b>
		<span>{{club.title}}</span>
		Website:
	</b>
	<span class="url">
		<a href="{{club.homepage}}" onclick="document.location='/shorturl/{{club.id}}/';return false">{{club.homepage}}</a>
	</span><br><br>
	{% endif %}
	<div class="adr">
		<b>Address:</b>
		{% if club.address %}<span class="street-address">{{club.address}}</span>,{% endif %}
		{% if club.city %}<span class="locality">{{club.city.name}}</span>,{% endif %}
		{% if club.state %}<span class="region">{{club.state.usps_name}}</span>{% endif %}
		<span class="postal-code"></span><br><br>
		<b>Country:</b>
		<span class="country-name">{% firstof club.city.country "USA" %}</span>
	</div><br>
	{% if club.phone %}<b>Phone:</b> <span class="tel">{{club.phone}}</span><br><br>{% endif %}
	{% if club.email %}<b>E-mail:</b> <span class="email">{{club.email}}</span><br><br>{% endif %}
	<b>Ad:</b> <span class="summary">{{club.description|linebreaksbr}}</span><br><br>
	<!-- <b>Rating:</b> <span class="rating">{{club.rating}}</span><span class="best" title="5" /><br><br>
	<b>Votes:</b> <span class="votes">37</span><br><br>	 -->
	{% if club.age %}<b>Age:</b> <span class="age">{{club.age}}</span><br><br>{% endif %}
	{% if club.body %}<b>Body:</b> <span class="body">{{club.body}}</span><br><br>{% endif %}
	{% if club.height %}<b>Height:</b> <span class="height">{{club.height}}</span><br><br>{% endif %}
	{% if club.weight %}<b>Weight:</b> <span class="weight">{{club.weight}}</span><br><br>{% endif %}
	{% if club.body_art %}<b>Body_art:</b> <span class="body_art">{{club.body_art}}</span><br><br>{% endif %}
	{% if club.diet %}<b>Diet:</b> <span class="diet">{{club.diet}}</span><br><br>{% endif %}
	{% if club.dislikes %}<b>Dislikes:</b> <span class="dislikes">{{club.dislikes}}</span><br><br>{% endif %}
	{% if club.drinks %}<b>Drinks:</b> <span class="drinks">{{club.drinks}}</span><br><br>{% endif %}
	{% if club.drugs %}<b>Drugs:</b> <span class="drugs">{{club.drugs}}</span><br><br>{% endif %}
	{% if club.education %}<b>Education:</b> <span class="education">{{club.education}}</span><br><br>{% endif %}
	{% if club.ethnicity %}<b>Ethnicity:</b> <span class="ethnicity">{{club.ethnicity}}</span><br><br>{% endif %}
	{% if club.eye_color %}<b>Eye_color:</b> <span class="eye_color">{{club.eye_color}}</span><br><br>{% endif %}
	{% if club.facial_hair %}<b>Facial_hair:</b> <span class="facial_hair">{{club.facial_hair}}</span><br><br>{% endif %}
	{% if club.fears %}<b>Fears:</b> <span class="fears">{{club.fears}}</span><br><br>{% endif %}
	{% if club.hair %}<b>Hair:</b> <span class="hair">{{club.hair}}</span><br><br>{% endif %}
	{% if club.hiv_hsv_hpv %}<b>Hiv_hsv_hpv:</b> <span class="hiv_hsv_hpv">{{club.hiv_hsv_hpv}}</span><br><br>{% endif %}
	{% if club.interests %}<b>Interests:</b> <span class="interests">{{club.interests}}</span><br><br>{% endif %}
	{% if club.kids_have %}<b>Kids_have:</b> <span class="kids_have">{{club.kids_have}}</span><br><br>{% endif %}
	{% if club.kids_want %}<b>Kids_want:</b> <span class="kids_want">{{club.kids_want}}</span><br><br>{% endif %}
	{% if club.likes %}<b>Likes:</b> <span class="likes">{{club.likes}}</span><br><br>{% endif %}
	{% if club.native_language %}<b>Native_language:</b> <span class="native_language">{{club.native_language}}</span><br><br>{% endif %}
	{% if club.occupation %}<b>Occupation:</b> <span class="occupation">{{club.occupation}}</span><br><br>{% endif %}
	{% if club.personality %}<b>Personality:</b> <span class="personality">{{club.personality}}</span><br><br>{% endif %}
	{% if club.pets %}<b>Pets:</b> <span class="pets">{{club.pets}}</span><br><br>{% endif %}
	{% if club.politics %}<b>Politics:</b> <span class="politics">{{club.politics}}</span><br><br>{% endif %}
	{% if club.religion %}<b>Religion:</b> <span class="religion">{{club.religion}}</span><br><br>{% endif %}
	{% if club.resembles %}<b>Resembles:</b> <span class="resembles">{{club.resembles}}</span><br><br>{% endif %}
	{% if club.smokes %}<b>Smokes:</b> <span class="smokes">{{club.smokes}}</span><br><br>{% endif %}
	{% if club.zodiac %}<b>Zodiac:</b> <span class="zodiac">{{club.zodiac}}</span><br><br>{% endif %}	
	<b>Added:</b> <span class="dtreviewed">{{club.date_of_publish}}</span><br><br>
	{% if club.photos %}
	<b>Club photos:</b><br> <br>
		{% for photo in club.photos %}
			<a href="{{photo.display.url}}"><img src="{{photo.thumbnail_image.url}}"></a>
		{% endfor %}
	{% endif %}
	
<br>

</div>

</div>

{% if all_clubs_for_state %}
	<h2>Other Hookup Ads from {{club.state.name}}</h2>
{% load partition %}
<table class="column">
{% for row in all_clubs_for_state|columns:3 %}
	<tr class="column">
	{% for club in row %}
		<td class="column"><a href="{{ club.get_absolute_url }}">{{ club.title }}</a></td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
{% endif %}

{% if all_clubs_for_country %}
	<h2>Other Hookup Ads from {{ club.city.country.name }}</h2>
{% load partition %}
<table class="column">
{% for row in all_clubs_for_country|columns:3 %}
	<tr class="column">
	{% for club in row %}
		<td class="column"><a href="{{ club.get_absolute_url }}">{{ club.title }}</a>, {{ club.city.name }}</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>
{% endif %}

{% endblock content %}
