{% extends "decorator.html" %}
{% load comments %}

{% block title_suffix %} in {{ club.state }}{% endblock %}

{% block inhead %}{% if club.is_closed %}<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
<script type="text/javascript" src="/modal_dialog.js"></script>
<link rel="stylesheet" href="/modal_dialog.css" type="text/css" media="screen" />
{% endif %}{% endblock %}

{% block description %}{{club.description|striptags|truncatewords:40|force_escape}}{% endblock %}


{% block content %}
{% if club.is_closed %}
<div id="boxes">
	<div id="dialog" class="window">
<h2>Sorry, but the club is closed or renamed</h2>
<p>Try to check for <a href="{{ club.state.get_absolute_url }}">other clubs in {{ club.state }}</a></p>
	</div>
	<!-- Mask to cover the whole screen -->
	<div id="mask"></div>
</div>
{% endif %}

<h1>{{club.name}} {% block club_page_title_suffix %}{% endblock %}</h1>
<div id="main">

<div class="hreview">
	{% if club.homepage %}
    <b>
        <span class="item"><span class="fn org">{{club.name}}</span></span>
        Website:
    </b>
    <span class="url">
        <a href="{{club.homepage}}">{{club.homepage}}</a>
    </span><br><br>
	{% endif %}
    <div class="adr">
        <b>Address:</b>
        {% if club.address %}<span class="street-address">{{club.address}}</span>,{% endif %}
        {% if club.city %}<span class="locality">{{club.city.name}}</span>,{% endif %}
        <span class="region">{{club.state.usps_name}}</span>
        <span class="postal-code"></span>
    </div><br>
	{% if club.phone %}<b>Phone:</b> <span class="tel">{{club.phone}}</span><br><br>{% endif %}
	{% if club.email %}<b>E-mail:</b> <span class="email">{{club.email}}</span><br><br>{% endif %}
    <b>About club:</b> <span class="summary">{{club.description|linebreaksbr}}</span><br><br>
    <b>Rating:</b> <span class="rating">{{club.rating}}</span><br><br>
    <b>Added:</b> <span class="dtreviewed">{{club.date_of_review}}</span><br><br>
	{% if club.photos %}
    <b>Club photos:</b><br> <br>
		{% for photo in club.photos %}
			<a href="{{photo.display.url}}"><img src="{{photo.thumbnail_image.url}}"></a>
		{% endfor %}
	{% endif %}
</div>

<div>
	{% get_comment_list for club as comment_list %}
	{% if not comment_list %}
		<h3>Leave your opinion about the club</h3>
	{% else %}
		<h3>Comments</h3>
		{% for comment in comment_list %}
		<div class="comment">
	          <div class="meta"><span class="nickname">{% if comment.user_url %}<a href="{{ comment.user_url }}" rel="nofollow">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %}</span> at {{ comment.submit_date }} said:</div>
	          <div class="body">{{ comment.comment }}</div>
	          <hr />
		</div>
		{% endfor %}
		<h4>Leave your opinion about the club</h4>
	{% endif %}
	{# {% get_comment_form for club as form %} #}
	
    <form action="{% comment_form_target %}" method="POST">
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <label for="id_name">Name:</label>{{ form.name }}<br />
        {{ form.email.errors }}
        <label for="id_email">Email address:</label>{{ form.email }}<br />
        {{ form.url.errors }}
        <label for="id_url">URL:</label>{{ form.url }}<br />
        {{ form.comment.errors }}
        <label for="id_comment">Comment:</label>{{ form.comment }}<br />
        <p style="display: none;">
            <label for="id_honeypot">If you enter anything in this field your comment will be treated as spam</label> 
            {{ form.honeypot }}
        </p>
        
        <input type="hidden" name="next" value="{{ club.get_absolute_url }}" />

        <p class="submit">
            <input name="post" class="submit-post" value="Post" type="submit">
            <input name="preview" class="submit-preview" value="Preview" type="submit">
        </p>
        
    </form>
</div>

</div>

<h2>Other Clubs from {{club.state.name}}</h2>
<div class="Article">
<ul>
{% for club in clubs_list%}
<li><a href="{{club.get_absolute_url}}">{{club.name}}</a></li>
{% endfor %}
</ul>
</div>
{% endblock content %}