{% extends "decorator.html" %}

{% block rss_inheader %}<link rel="alternate" type="application/rss+xml" title="All clubs news" href="/rss/site/" />{% endblock %}

{% block rss_link %} | <a href="/rss/site/">RSS</a>{% endblock %}

{% block content %}
<h1>{% block index_page_title %}{% endblock %}</h1>
<div id="main">

<h2>{% block index_page_subtitle %}{% endblock %}</h2>

{% load partition %}
<table>
{% for row in all_states_list|columns:3 %}
    <tr>
    {% for state in row %}
        <td class="column"><li><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></li></td>
    {% endfor %}
    </tr>
{% endfor %}
</table>


{% block countries %}
{% endblock %}


{# news div #}
<div id="news">
{% if news %}
{% include "news/news_block.html" %}
{% endif %}
</div>
{# news div end #}

{% if flatpages %}
<h2>{% block articles_title %}{% endblock %}</h2>
<div>
{% block articles_description %}
{% endblock %}
<ol>
	{% for flatpage in flatpages %}
		<li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
	{% endfor %}
</ol>
</div>
{% endif %}

</div>
{% endblock content %}

