{% extends "directory/base_category_region.html" %}

{% block title %}Fetish clubs &amp; BDSM clubs in {{region}}{% endblock %}

{% block description %}Complete List of {{region.name}} Adult Clubs for Alternative Lifestyle lovers with Links, E-Mails, Phones and Addresses{% endblock %}

{% block breadcrumbs %}&gt; Fetish clubs &amp; BDSM clubs in {{region}}{% endblock %}

{% block region_page_title_prefix %}Fetish clubs &amp; BDSM clubs{% endblock %}

{% block by_region_title_prefix %}Fetish Clubs{% endblock %}

{% block by_region_item_suffix %}Masters and Slaves{% endblock %}