{% extends "directory/base_category_region2.html" %}

{% block topbanner %}<script  type="text/javascript" src="http://swingsystem.net/in.cgi?13&amp;RANDOM={% now "U" %}"></script>{% endblock %}

{% block title %}{{ region }} Fetish Hookups{% endblock %}

{% block description %}{{ region.name }} Fetish Encounter {% endblock %}

{% block breadcrumbs %}&gt; Fetish Hookups in {{ region }}{% endblock %}

{% block region_page_title_prefix %}Fetish Hookup Ads{% endblock %}

{% block by_region_title_prefix %}Fetish Encounter Ads{% endblock %}

{% block by_region_item_suffix %}Fetish Hookups{% endblock %}

{% block item_name %}ads{% endblock %}

{% block links %}{% endblock %}