{% extends "directory/base_csvmap.html" %}

{% block homepage_anchor %}Fetish	Fetish Clubs	BDSM	BDSM clubs	Fetish & BDSM{% endblock %}

{% block country_anchor_prefix %}Fetish & BDSM in {{country}}	Fetish clubs in {{country}}	BDSM clubs in {{country}}	Bondage clubs in {{country}}	Fetish profiles in {{country}}{% endblock %}

{% block state_anchor_prefix %}Fetish & BDSM in {{state}}	Fetish clubs in {{state}}	BDSM clubs in {{state}}	Bondage clubs in {{state}}	Fetish profiles in {{state}}{% endblock %}

{% block club_anchor_suffix %}{{club.name}} Fetish Club	{{club.name}} BDSM Club	{{club.name}} Club	{{club.name}} Bondage club	{{club.name}} Party{% endblock %}
