{% extends "base.html" %}

{% block title %}All Fetish Clubs &amp; BDSM Clubs{% endblock %}

{% block inhead %}<meta name="google-site-verification" content="iuhsbt1N1ZN2rK-69oYcZ14t3KfwMHD6ZFC0RljYsyg" />{% endblock %}

{% block description %}Fetish Clubs in US cities and states. Fetish lovers personals who'd like to meet new people. Free directory of BDSM Clubs and personals.{% endblock %}

{% block breadcrumbs %}&gt; All Fetish Clubs &amp; BDSM Clubs{% endblock %}

{% block content %}
<h1>All Fetish Clubs &amp; BDSM Clubs</h1>
<div id="main">
<div id="clubs"><h2>Local fetish clubs in</h2>
<div class="Article">
<ul>
{% for state in all_states_list%}
	<li><a href="{{ state.get_absolute_url }}">{{ state.name }}</a></li>
{% endfor %}
</ul>
</div>

<div>
<ol>
	{% for flatpage in flatpages %}
		<li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
	{% endfor %}
</ol>

</li>
</ul>
</div>

</div>
</div>
{% endblock content %}

