{% extends "directory/base_state.html" %}

{% block title %}Fetish clubs &amp; BDSM clubs in {{state}}{% endblock %}

{% block description %}Complete List of {{state.name}} Adult Clubs for Alternative Lifestyle lovers with Links, E-Mails, Phones and Addresses{% endblock %}

{% block breadcrumbs %}&gt; Fetish clubs &amp; BDSM clubs in {{state}}{% endblock %}

{% block state_page_title_prefix %}Fetish clubs &amp; BDSM clubs{% endblock %}

{% block by_state_title_prefix %}Fetish Clubs{% endblock %}

{% block by_state_item_suffix %}Masters and Slaves{% endblock %}