{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
    <script type="text/javascript" src="../../../jsi18n/"></script>
    <script type="text/javascript">
        
        $(function() {
            // {# adding button near cities select box for the coordinates request #} 
            
            var but_html = "<input id='id_get_coordinates' type='button' value='get coordinates' />";
            $("#id_city").parent().append(but_html);            
        
            // {# get coordinates button click event #} 
            $("#id_get_coordinates").click(function() { 
                // {# retrive coordinates from local ajax proxy and fill latitude and longtitude #} 
                var data = $("#id_address").val() + " " + $("#id_city option:selected").text();
                var url = "/geocoder/"; 
                $.ajax({
                      url: url,
                      dataType: 'json',
                      data: {'q': data},
                      success: function(data){	
                            if (data.status == 0)
                            {
                                alert(data.error);
                                return
                            }
                            var latitude = new Number(data.latitude);
                            var longitude = new Number(data.longitude); 
                            $("#id_latitude").val(latitude.toFixed(6));
                            $("#id_longitude").val(longitude.toFixed(6));
                	}
                });

            }); // {# get coordinates click end #}
            
            // {# state change event #}
			$("#id_state").change(function () {
				get_state_cities($(this).val());
			});
			
			get_state_cities = function(state_id) {
				state_url = "/state/" + state_id + "/";
	            var data = {
	                hash: String(Math.random()).substring(2, 15)                
	            };
	        
			    $.ajax({
	                type: "POST",
	                url: state_url,
	                dataType: "json",
	                data: data,
	                cache: false,
	                success: function(XMLHttpRequest)
						{
		                    if (XMLHttpRequest.status == 1){                        

								$("#id_city").empty();

								// {# creating options for city select box #}
								var options = "<option selected='selected' value=''>---------</option>";
								var cities = XMLHttpRequest.cities;								
								for (var i=0; i<cities.length; i++)
								{
							        options += '<option value="' + cities[i].id + '">' + cities[i].name + '</option>';
								}
								$("#id_city").html(options);
		                    };
                		},
	                error: function (XMLHttpRequest, textStatus, errorThrown) 
						{
	                    	alert("Error connecting server.");
	                	}
					});

			}; //{# get_state_cities function end #}
			
			create_thumbs = function() {
				// {# adds thumb image based on image url #}

				$(".original_image a").each(function(index) {

					// {# for thumb get resized images #}
					var image_url = $(this).attr("href");
					image_url = image_url.replace('photos', 'resized/photos');
					
					// {# get file extension #}
					var re = /(?:\.([^.]+))?$/;
					var ext = re.exec(image_url)[1];
					
					image_url = image_url.replace("." + ext, '_admin_thumbnail.' + ext);
					var img = "<img  src='" + image_url + "' />";
					$(this).parent().prepend(img);
				});
				
			}; // {# create_thumbs end #}
			
			// {# get current state id #}
			get_current_state_id = function() {
				var url = "/current_state/";
                $.ajax({
                      url: url,
                      dataType: 'json',
                      success: function(data){	
						if (data.status == 0)
						{
							return;
						}
						// {# data status is not null, so data.state_id contains state id #}
						$("#id_state").val(data.state_id);
						get_state_cities(data.state_id);
						
                	}
                });				
			
			};
			
			create_thumbs();
			// {# set current state only if it's new club #}
			if ($("#id_name").val() == "")
			{
				get_current_state_id();
			}

        }) // {# $ function end #}
    </script> 
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
