{% extends "directory/base_csvmap.html" %}

{% block homepage_anchor %}Gays	Gays Clubs	Gay bars	Gay clubs	Gays club{% endblock %}

{% block country_anchor_prefix %}Gays in {{country}}	Gays clubs in {{country}}	Gay clubs in {{country}}	Gays ads in {{country}}	Gays profiles in {{country}}{% endblock %}

{% block state_anchor_prefix %}Gays in {{state}}	Gays clubs in {{state}}	Gay clubs in {{state}}	Gays ads in {{state}}	Gays profiles in {{state}}{% endblock %}

{% block club_anchor_suffix %}{{club.name}} Gays Club	{{club.name}} Sex Club	{{club.name}} Club	{{club.name}} Gays	{{club.name}} Party{% endblock %}
