<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{item.description}}{% endblock %}">
<meta name="GOOGLEBOT" content="NOODP">
<link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
<script type="text/JavaScript" src="/css3-multi-column.js"></script>
{% block inhead %}{% endblock %}
</head>

<body {% block inbodytag %}{% endblock %}>
<div id="content">
<!-- <script language="JavaScript" src="http://swingsystem.net/in.cgi?9&amp;RANDOM={% now "U" %}"></script> -->
<p>
<div><a href="/">Swinger Club</a> home {% block breadcrumbs %}{% endblock %}</div>
{% block start_text %}Our listing inludes sex clubs, erotic clubs, erotic massage saloons, clubs for couples only and singles clubs, on premise and off premise swingers clubs. If you want to suggest your favorite place for lifestyle activities - send details to webmaster@allswingersclubs.org{% endblock %}

{% include 'tags/user_menu.html' %}
<br />
<div align="right">
    <a href="/news/feeds/sitenews/">RSS</a>
</div>
{% block content %}
{% endblock content %}

{% block links %}
	{% load linkator_tags %}
	{% get_tradelinks as tradelinks %}
	{% if tradelinks %}
		{% block links_title %}
			<h2>Links</h2>
		{% endblock %}
			<ul>				
				{% for tradelink in tradelinks %}
					<li><a href="{{ tradelink.url }}">{{ tradelink.title }}</a>{% if tradelink.description %} - {{tradelink.description}}{% endif %}</li>						
				{% endfor %}
			</ul>
	{% endif %}
{% endblock links %}

<hr>
<div>
2009 All Clubs Swingers Group, contact: webmaster@allswingersclubs.org
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2184402-5");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>