{% extends templatename|default:"flatpages/flatpage.html" %}


{% block topbanner %}<script language="JavaScript" src="http://swingsystem.net/in.cgi?9&RANDOM={% now "U" %}"></script>{% endblock %}

{% block homeanchor %}Swinger Club{% endblock %}

{% block start_text %}Our listing inludes sex clubs, erotic clubs, erotic massage saloons, clubs for couples only and singles clubs, on premise and off premise swingers clubs. If you want to suggest your favorite place for lifestyle activities - send details to webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2007-{% now "Y" %} All Clubs Swingers Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-5{% endblock %}