{% extends "base.html" %}


{% block topbanner %}<script  type="text/javascript" src="http://swingsystem.net/in.cgi?9&amp;RANDOM={% now "U" %}"></script>{% endblock %}

{% block bottombanner %}{% endblock %}

{% block homeanchor %}Swinger Club{% endblock %}

{% block start_text %}Our listing inludes sex clubs, erotic massage clubs, clubs for couples only and singles clubs, on premise and off premise swingers clubs. Also we list various swingers internet ogranisations, such as Yahoo groups, forums. If you want to suggest your favorite place for lifestyle activities - send details to webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2007-{% now "Y" %} All Clubs Swingers Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-5{% endblock %}

