{% extends "base.html" %}


{% block topbanner %}<script language="JavaScript" src="http://swingsystem.net/in.cgi?9&RANDOM={% now "U" %}"></script>{% endblock %}

{% block bottombanner %}<iframe id="geobanner" src="http://socialflirt.com/go/page/iframe_geobanner_800x250?pid=g668502-pct.ascbottom&numpins=20&find_sex=3&looking_for_person=3&thumb=portrait&varname=simple&page=registration&banner_title=Find%20a%20Compatible%20Couple%20Near%20%5BLOC%5D%21%20Unique%20Psychological%20Matching%20System" width="830" height="250" frameborder="0" marginheight="0" marginwidth="0" align="middle" scrolling="no"></iframe>{% endblock %}

{% block homeanchor %}Swinger Club{% endblock %}

{% block start_text %}Our listing inludes sex clubs, erotic massage clubs, clubs for couples only and singles clubs, on premise and off premise swingers clubs. If you want to suggest your favorite place for lifestyle activities - send details to webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2007-{% now "Y" %} All Clubs Swingers Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-5{% endblock %}

