{% extends "decorator.html" %}

{% block title %}
	{% if news %} 
        Change news for {{ news.club.name }} 
    {% else %}
        Create news for {{ club.name }}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>{% if news %} 
        Change news for {{ news.club.name }} 
    {% else %}
        Create news for {{ club.name }}
    {% endif %}</h1>
<div id="main">
    {% if news %}
        Created: {{ news.created|date:"d M Y H:i" }} <br>
        Changed: {{ news.changed|date:"d M Y H:i" }} <br>
    {% endif %}
    <form action='.' method='POST'>{% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">

    </form>
    {% if news %}
        <a href="/news/delete/{{ news.id }}/">Delete</a>
    {% endif %}
</div>{% endblock %}