{% if club %}
	<h3>Club news</h3>
{% else %}
	{% if state %}
		<h3>{{ state }} clubs news</h3>
	{% else %}
		<h3>All clubs news</h3>
	{% endif %}
{% endif %}
{% for unit in news %}
<div class="news">
	<div class="meta">{{ unit.created|timesince }} ago{% if not club %}, club {{ unit.club }} from {{ unit.club.city.name}}{% if not state %}, {{ unit.club.state.usps_name}}{% endif %}{% endif %}</div>		
	<h4>{{ unit.title }}</h4>
	<div class="body">{{ unit.description }} {% if not club %}<span class="link"><a href="{{ unit.club.get_absolute_url }}">Go to club page…</a></span>{% endif %}</div>
</div>
{% endfor %}