<h3>Choose one of this banners or textlinks and place proper html code to {{ club.name }} website</h3>
<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<td align="center"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}">{{ club.name }} listed at {{ site.name }}</a></td>
		<td><textarea name="Name" rows="5" cols="40"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}">{{ club.name }} listed at {{ site.name }}</a></textarea></td>
	</tr>	
	<tr>
		<td align="center"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/468x60.jpg" width="468" height="60" alt="{{ club.name }} listed at {{ site.name }}"></a></td>
		<td><textarea name="Name" rows="5" cols="40"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/468x60.jpg" width="468" height="60" alt="{{ club.name }} listed at {{ site.name }}"></a></textarea></td>
	</tr>
	<tr>
		<td align="center"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/160x60.jpg" width="160" height="60" alt="{{ club.name }} listed at {{ site.name }}"></a></td>
		<td><textarea name="Name" rows="5" cols="40"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/160x60.jpg" width="160" height="60" alt="{{ club.name }} listed at {{ site.name }}"></a></textarea></td>
	</tr>
	<tr>
		<td align="center"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/125x125.jpg" width="125" height="125" alt="{{ club.name }} listed at {{ site.name }}"></a></td>
		<td><textarea name="Name" rows="5" cols="40"><a href="http://{{ site.domain }}{{ club.get_absolute_url }}"><img src="http://{{ site.domain }}/media/b/125x125.jpg" width="125" height="125" alt="{{ club.name }} listed at {{ site.name }}"></a></textarea></td>
	</tr>
</table>