<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{item.descriptionstriptags|truncatewords:40|force_escape}}{% endblock %}">
<meta name="GOOGLEBOT" content="NOODP">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
{% block rss_inheader %}{% endblock %}
<link rel="stylesheet" href="/main.css" type="text/css" media="screen">
<script type="text/JavaScript" src="/scripts-min.js"></script>
{% block inhead %}{% endblock %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{% block google_analytics_id %}{% endblock %}']);
  {% block google_analytics_additional_settings %}{% endblock %}
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body {% block inbodytag %}{% endblock %}>
{% block body %}
<div id="content">
{% block topbanner %}{% endblock %}
<p>
<div><a href="/">{% block homeanchor %}{% endblock %}</a> home {% block breadcrumbs %}{% endblock %}</div>

{% block start_text %}{% endblock %}
<br><br>

<div style="float:right">
    {% if user.is_authenticated %}
        Welcome, <a href="/accounts/profile/">{{ user.username }}</a> |
        <a href="/accounts/logout/">Logout</a> |
        <a href="{% url directory.views.add_club %}">Add club</a>
    {% else %}
        <a href="/accounts/login/">Login</a> |
        <a href="{% url registration_register %}">Register</a> |
        <a href="{% url registration_anonymous %}">Add club</a>
    {% endif %}
		{% block rss_link %}{% endblock %}
</div>

{% block content %}
{% endblock content %}

{% block links %}
	{% load linkator_tags %}
	{% get_tradelinks as tradelinks %}
	{% if tradelinks %}
		{% block links_title %}
			<h2>Related links</h2>
		{% endblock %}
			<ul>				
				{% for tradelink in tradelinks %}
					<li><a href="{{ tradelink.url }}">{{ tradelink.title }}</a>{% if tradelink.description %} - {{tradelink.description}}{% endif %}</li>						
				{% endfor %}
			</ul>
	{% endif %}
{% endblock links %}

{% block recent_searches %}
{% if keywords %}
<h2>Recent searches</h2>
<ul>
{% for word in keywords %}
	<li><a href="/search/?q={{ word.query_string }}">
		{{ word.text }}
	</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock recent_searches %}

{% block bottombanner %}{% endblock %}

<div>
<hr>
{% block footertext %}{% endblock %}
</div>
</div>
{% endblock body %}
</body>
</html>
