<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{item.description}}{% endblock %}">
<meta name="GOOGLEBOT" content="NOODP">
<link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
<script type="text/JavaScript" src="/css3-multi-column.js"></script>
{% block inhead %}{% endblock %}
</head>

<body {% block inbodytag %}{% endblock %}>
<div id="content">
{% block topbanner %}{% endblock %}
<p>
<div><a href="/">{% block homeanchor %}{% endblock %}</a> home {% block breadcrumbs %}{% endblock %}</div>
{% block start_text %}{% endblock %}

{% include 'tags/user_menu.html' %}
<br />
<div align="right">
    <a href="/news/sitenews/feed/">RSS(sitenews)</a><br />
    <a href="/news/statenews/sc-clubs.html/feed/">RSS(statenews-South Carolina)</a><br />
    <a href="/news/clubnews/7/feed/">RSS(Club news(id=7))</a><br />
</div>
{% block content %}
{% endblock content %}

{% block links %}
	{% load linkator_tags %}
	{% get_tradelinks as tradelinks %}
	{% if tradelinks %}
		{% block links_title %}
			<h2>Links</h2>
		{% endblock %}
			<ul>				
				{% for tradelink in tradelinks %}
					<li><a href="{{ tradelink.url }}">{{ tradelink.title }}</a>{% if tradelink.description %} - {{tradelink.description}}{% endif %}</li>						
				{% endfor %}
			</ul>
	{% endif %}
{% endblock links %}

<hr>
<div>
{% block footertext %}{% endblock %}
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>