<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{item.descriptionstriptags|truncatewords:40|force_escape}}{% endblock %}">
<meta name="GOOGLEBOT" content="NOODP">
{% block rss_inheader %}{% endblock %}
<link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
{% block inhead %}{% endblock %}
<script type="text/JavaScript" src="/scripts-min.js"></script>
</head>

<body {% block inbodytag %}{% endblock %}>
<div id="content">
{% block topbanner %}{% endblock %}
<p>
<div><a href="/">{% block homeanchor %}{% endblock %}</a> home {% block breadcrumbs %}{% endblock %}</div>

{% block start_text %}{% endblock %}
<br><br />

<div align="right">
    {% if user.is_authenticated %}
        Welcome, <a href="/accounts/profile/">{{ user.username }}</a> |
        <a href="/accounts/logout/">Logout</a> |
        <a href="{% url directory.views.add_club %}">Add club</a>
    {% else %}
        <a href="/accounts/login/">Login</a> |
        <a href="{% url registration_register %}">Register</a> |
        <a href="{% url registration_anonymous %}">Add club</a> |
    {% endif %}
		{% block rss_link %}{% endblock %}
</div>

{% block content %}
{% endblock content %}

{% block links %}
	{% load linkator_tags %}
	{% get_tradelinks as tradelinks %}
	{% if tradelinks %}
		{% block links_title %}
			<h2>Links</h2>
		{% endblock %}
			<ul>				
				{% for tradelink in tradelinks %}
					<li><a href="{{ tradelink.url }}">{{ tradelink.title }}</a>{% if tradelink.description %} - {{tradelink.description}}{% endif %}</li>						
				{% endfor %}
			</ul>
	{% endif %}
{% endblock links %}

<hr>
<div>
{% block footertext %}{% endblock %}
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{% block google_analytics_id %}{% endblock %}");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>