{% extends "base.html" %}
{% block inhead %}
    <script src="http://www.google.com/jsapi?key=ABCDE"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
    </script>
    <script type="text/javascript">
        $(function() { 
            $("#retrieve_coordinates").click(function() {
                var data = $("#id_address").val() + " " + $("#id_city option:selected").text();
                var url = "/geocoder/"; 
                $.ajax({
                      url: url,
                      dataType: 'json',
                      data: {'q': data},
                      type: "GET",
                      success: function(data){    
                            if (data.status == 0)
                            {
                                alert(data.error);
                                return
                            }
                            var latitude = new Number(data.latitude);
                            var longitude = new Number(data.longitude); 
                            $("#id_latitude").val(latitude.toFixed(6));
                            $("#id_longitude").val(longitude.toFixed(6));
                    }
                });
            
            });
            
            
            $("#id_state").change(function() {
                get_cities_by_state($(this).val());
            });
            
            get_cities_by_state = function(state_id) {
                if (!state_id)
                {
                    $("#id_city").empty();
                    $("#id_city").html("<option selected='selected' value=''>---------</option>");
                    $("#id_city").attr("disabled", true);
                    return;
                }
                state_url = "/state/" + state_id + "/";
                var data = {
                    hash: String(Math.random()).substring(2, 15)                
                };
            
                $.ajax({
                    type: "GET",
                    url: state_url,
                    dataType: "json",
                    data: data,
                    cache: false,
                    success: function(XMLHttpRequest)
                        {
                            if (XMLHttpRequest.status == 1){                        

                                $("#id_city").empty();

                                // {# creating options for city select box #}
                                var options = "";
                                var cities = XMLHttpRequest.cities;                                
                                for (var i = 0; i < cities.length; i++)
                                {
                                    options += '<option value="' + cities[i].id + '">' + cities[i].name + '</option>';
                                }
                                $("#id_city").html(options);
                                $("#id_city").removeAttr("disabled");
                            };
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) 
                        {
                            alert("Error connecting server.");
                            alert(errorThrown);
                        }
                });
            }; // {# get_cities_by_state end #}

        });

    </script>
{% endblock %}
{% block title %} Change club {% endblock %}

{% block content %}
    <a href="/reversions/list/{{ club.id }}/">History</a>
    <br />
    
    <form action='.' method='POST'>
        {{ form.name.errors }}
        Name: {{ form.name }}  <br />
        
        {{ form.description.errors }}
        Description: {{ form.description }}  <br />
        
        {{ form.address.errors }} 
        Address: {{ form.adress }} <br />
        
        {{ form.state.errors }}
        State: {{ form.state }}  <br />
        
        {{ form.city.errors }}
        City: {{ form.city }}  <br />
        
        {{ form.phone.errors }}
        Phone: {{ form.phone }}  <br />
        
        {{ form.email.errors }}
        e-mail: {{ form.email }}  <br />
        
        {{ form.homepage.errors }} 
        Homepage: {{ form.homepage }} <br />
        
        {{ form.latitude.errors }}  
        Latitude: {{ form.latitude }} 
        <input type="button" value="Get coordinates" id="retrieve_coordinates" /> <br />
        {{ form.longitude.errors }}
        Longitude: {{ form.longitude }}  <br />
        
        <input type="submit" value="Submit" />
    </form>    

{% endblock %}