{% extends "decorator.html" %}
{% block inhead %}
    <script src="http://www.google.com/jsapi?key=ABCDE"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
    </script>
    <script type="text/javascript">
        $(function() { 
            $("#retrieve_coordinates").click(function() {
                var data = $("#id_address").val() + " " + $("#id_city option:selected").text();
                var url = "/geocoder/"; 
                $.ajax({
                      url: url,
                      dataType: 'json',
                      data: {'q': data},
                      type: "GET",
                      success: function(data){    
                            if (data.status == 0)
                            {
                                alert(data.error);
                                $("#id_latitude").val('');
                                $("#id_longitude").val('');
                                return;
                            }
                            var latitude = new Number(data.latitude);
                            var longitude = new Number(data.longitude); 
                            $("#id_latitude").val(latitude.toFixed(6));
                            $("#id_longitude").val(longitude.toFixed(6));
                    }
                });
            
            });
            
            
            $("#id_country").change(function() {
                $('#id_state').val('');
                $.ajax({
                  type: 'POST',
                  url: '/ajax/get-country-cities/',
                  data: 'country_id='+$(this).val(),
                  success: function(data) {
                    $('#id_city').html(data);
                    $("#id_city").removeAttr("disabled");
                  }
                });
            });
            
            
            $("#id_state").change(function() {
                $('#id_country').val('');
                get_cities_by_state($(this).val());
                enable_retrieve();
            });
            $("#id_city").change(function() {
                enable_retrieve();

            }); 
            $("#id_address").keyup(function() {
                enable_retrieve();
            });
            
            get_cities_by_state = function(state_id) {
                if (!state_id)
                {
                    $("#id_city").empty();
                    $("#id_city").html("<option selected='selected' value=''>---------</option>");
                    $("#id_city").attr("disabled", true);
                    return;
                }
                state_url = "/state/" + state_id + "/";
                var data = {
                    hash: String(Math.random()).substring(2, 15)                
                };
            
                $.ajax({
                    type: "GET",
                    url: state_url,
                    dataType: "json",
                    data: data,
                    cache: false,
                    success: function(XMLHttpRequest)
                        {
                            if (XMLHttpRequest.status == 1){                        

                                $("#id_city").empty();

                                // {# creating options for city select box #}
                                var options = "<option selected='selected' value=''>---------</option>";
                                var cities = XMLHttpRequest.cities;                                
                                for (var i = 0; i < cities.length; i++)
                                {
                                    options += '<option value="' + cities[i].id + '">' + cities[i].name + '</option>';
                                }
                                $("#id_city").html(options);
                                $("#id_city").removeAttr("disabled");
                            };
                        },
                    error: function (XMLHttpRequest, textStatus, errorThrown) 
                        {
                            alert("Error connecting server.");
                            alert(errorThrown);
                        }
                });
            }; // {# get_cities_by_state end #}
            enable_retrieve = function() {
                // {# enables retrieve_coordinates if all neccessary fields are not empty (State, City, Address) #}

                if (($("#id_state").val() == "") || ($("#id_city").val() == "") || ($("#id_address").val() == ""))
                {
                    $("#retrieve_coordinates").attr("disabled", true);
                    return false;
                }
                $("#retrieve_coordinates").attr("disabled", false);                
                
            };
            enable_retrieve();
        });

    </script>
{% endblock %}
{% block title %}{% if add_club %}Add new{% else %}Change {{ club.name }}{% endif %} club {% endblock %}

{% block content %}

	<h1>{% if add_club %}Add new{% else %}Change {{ club.name }}{% endif %} club </h1>
	<div id="main">
	{% if not add_club %}
    <a href="/reversions/list/{{ club.id }}/">History of edits</a>
    <br><br>
	{% endif %}

    <form action='.' method='POST' enctype="multipart/form-data">{% csrf_token %}
        {{ form.name.errors }}
        Name*: {{ form.name }}  <br>
        
        {{ form.description.errors }}
        Description*: {{ form.description }}  <br>
        
        {{ form.state.errors }}
        State: {{ form.state }} 
        
        {{ form.country.errors }}
        or country: {{ form.country }}  <br>
        
        {{ form.city.errors }}
        City*: {{ form.city }}  <br>

        {{ form.address.errors }} 
        Address: {{ form.address }} <br>
        
        {{ form.phone.errors }}
        Phone: {{ form.phone }}  <br>
        
        {{ form.email.errors }}
        e-mail*: {{ form.email }}  <br>
        
        {{ form.homepage.errors }} 
        Homepage: {{ form.homepage }} <br>
		<small>Correct coordinates can be retrieved with filled Country, State, City and Address fields only!</small><br>
        <input type="button" value="Get coordinates" id="retrieve_coordinates"> 

        {{ form.latitude.errors }}  
        Lat: {{ form.latitude }} 
        {{ form.longitude.errors }}
        Long: {{ form.longitude }}  <br><br>
        
        {{ form.sites.errors }}
        Publish on sites*: {{ form.sites }}
		{% if add_club %}<small>Pls, add photos, which gives impression about your club, not banners.</small><br>{% endif %}
        {{ formset.management_form }}
        {% for frm in formset.forms %}
            {% if frm.show_url %}
                <img src="{{ frm.show_url }}" alt="club image"> 
            {% endif %}
            {{ frm }} <br>
        {% endfor %}

        <input type="submit" value="Save">
    </form>
	</div>

       
{% endblock %}
