{% extends "decorator.html" %}
{% block extrahead %}

<script type="text/javascript">
    

</script>
{% endblock %}
{% block title %}Your clubs list {% endblock %}

{% block content %}
    <h1>Your clubs list</h1>
<div id="main">
<ul>
    {% for club in clubs %}
<li>
	<a href="/club/{{ club.id }}/">{{ club.name }}</a>
	<sup>
	[<a href="/club/change/{{ club.id }}/">Edit club</a>]
	[<a href="/news/add/{{ club.id }}/">Add news</a>]
	[<a href="/news/list/{{ club.id }}/">Edit news</a>]
	</sup>
</li>
    {% endfor %}
</ul>
</div>

{% endblock %}