{% extends "base.html" %}


{% block topbanner %}<iframe width="100%" scrolling="no" frameborder="0" src="http://banners.outpersonals.com/piclist?background_color=transparent&banner_title=1Find+hot+guys+to+fuck+in&border_color=transparent&link_color=%23CC9900&pic_border_color=%23000000&pic_border_width=0&piclang=english&pid=g668502-pct.subagc&rate_img=gold_stars&rollover_header_color=%236E6E5E&rows=1&show_join_link=0&site=out&size=4&text_color=%23FFFFFF&thumb=bigsquare&title_color=%23000000&spcpromo_creative=July-spc&iframe=1" style="vertical-align: middle;" height="279" allowtransparency="true"></iframe>{% endblock %}

{% block homeanchor %}Gays clubs{% endblock %}

{% block start_text %}Our listing inludes gay clubs, gay bathhouses, gay saunas, gay steam baths, gay spa and man by man massage salons, boy bars, girl bars, gay pubs, queer bars, lesbian bars, dyke bars. If you want to suggest your favorite place for lifestyle activities - send details to  webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2007-{% now "Y" %} All Gay Clubs Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-15{% endblock %}

