{% extends "base.html" %}


{% block topbanner %}<script language="JavaScript" src="http://swingsystem.net/in.cgi?9&RANDOM={% now "U" %}"></script>{% endblock %}

{% block homeanchor %}Gays clubs{% endblock %}

{% block start_text %}Gays clubs... send details to webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2007-{% now "Y" %} All Clubs Swingers Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-5{% endblock %}

