<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="Description" content="{% block description %}{{item.description}}{% endblock %}">
<meta name="GOOGLEBOT" content="NOODP">
<link rel="stylesheet" href="/main.css" type="text/css" media="screen" />
<script type="text/JavaScript" src="/css3-multi-column.js"></script>
{% block inhead %}{% endblock %}
</head>

<body {% block inbodytag %}{% endblock %}>
<div id="content">
<iframe width="100%" scrolling="no" frameborder="0" src="http://banners.alt.com/piclist?background_color=transparent&banner_title=1Get+kinky+with+hot+people+in&border_color=transparent&link_color=%23CC9900&pic_border_color=%23000000&pic_border_width=0&piclang=english&pid=g668502-pct.subafc&rate_img=gold_stars&rollover_header_color=%236E6E5E&rows=1&show_join_link=0&site=bdsm&size=4&text_color=%23FFFFFF&thumb=bigsquare&title_color=%23000000&spcpromo_creative=July-spc&iframe=1" style="vertical-align: middle;" height="279" allowtransparency="true"></iframe>
<p>
<div><a href="/">Fetish Club</a> home {% block breadcrumbs %}{% endblock %}</div>
{% block start_text %}Our listing inludes sex clubs, erotic clubs, erotic massage saloons, clubs for couples only and singles clubs, on premise and off premise BDSM clubs. If you want to suggest your favorite place for lifestyle activities - send details to webmaster@allfetishclubs.org{% endblock %}

{% block content %}
{% endblock content %}

{% block links %}
	{% load linkator_tags %}
	{% get_tradelinks as tradelinks %}
	{% if tradelinks %}
		{% block links_title %}
			<h2>Links</h2>
		{% endblock %}
			<ul>				
				{% for tradelink in tradelinks %}
					<li><a href="{{ tradelink.url }}">{{ tradelink.title }}</a>{% if tradelink.description %} - {{tradelink.description}}{% endif %}</li>						
				{% endfor %}
			</ul>
	{% endif %}
{% endblock links %}

<hr>
<div>
2009 All Fetish Clubs Group, contact: webmaster@allfetishsclubs.org
</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2184402-9");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>