{% extends "base.html" %}

{% block inhead_global %}
<script type="text/javascript">
var news_url="http://swingsystem.net/in.cgi?13";
var news_was_opened=true;
</script>
{% endblock %}

{% block topbanner %}<iframe width="100%" scrolling="no" frameborder="0" src="http://banners.alt.com/piclist?background_color=transparent&amp;banner_title=1Get+kinky+with+hot+people+in&amp;border_color=transparent&amp;link_color=%23CC9900&amp;pic_border_color=%23000000&amp;pic_border_width=0&amp;piclang=english&amp;pid=g668502-pct.subafc&amp;rate_img=gold_stars&amp;rollover_header_color=%236E6E5E&amp;rows=1&amp;show_join_link=0&amp;site=bdsm&amp;size=4&amp;text_color=%23FFFFFF&amp;thumb=bigsquare&amp;title_color=%23000000&amp;spcpromo_creative=July-spc&amp;iframe=1" style="vertical-align: middle;background-color: transparent;" height="279"></iframe>{% endblock %}

{% block homeanchor %}Fetish Club{% endblock %}

{% block start_text %}Our listing inludes BDSM, fetish and bondage clubs, dungeons, munches, sexal roleplay and play parties, contacts of masters, mistress and subs for a fem dom. If you want to suggest your favorite femdom or fetishclubs for alternative lifestyle activities - send details to webmaster@{{ current_site.domain }}{% endblock %}

{% block footertext %}2009-{% now "Y" %} All Fetish Clubs Group, contact: webmaster@{{ current_site.domain }}{% endblock %}

{% block google_analytics_id %}UA-2184402-9{% endblock %}