{% extends "directory/base_category_region_city.html" %}

{% block title %}{{ region }} Swingers Clubs{% endblock %}

{% block description %}{{ region.name }} Adult Clubs and Online Swinger Sites for Couples with Links, E-Mails, Phones and Addresses{% endblock %}

{% block breadcrumbs %}&gt; {% if region.state %}<a href="{{ region.state.get_absolute_url }}">{{ region.state }}</a>{% else %}<a href="{{ region.country.get_absolute_url }}">{{ region.country }}</a>{% endif %} &gt; Swingers clubs in {{ region.name }}{% endblock %}

{% block region_page_title_prefix %}Swingers clubs{% endblock %}

{% block by_region_title_prefix %}Swing Clubs{% endblock %}

{% block by_region_item_suffix %}Swingers{% endblock %}