{% extends "directory/base_category_region2.html" %}

{% block topbanner %}<script  type="text/javascript" src="http://swingsystem.net/in.cgi?17&amp;RANDOM={% now "U" %}"></script>{% endblock %}

{% block title %}{{ region }} Hookups{% endblock %}

{% block description %}{{ region.name }} Casual Encounter {% endblock %}

{% block breadcrumbs %}&gt; Casual Hookups in {{ region }}{% endblock %}

{% block region_page_title_prefix %}Hookup Ads{% endblock %}

{% block by_region_title_prefix %}Casual Encounter Ads{% endblock %}

{% block by_region_item_suffix %}Hookups{% endblock %}

{% block item_name %}ads{% endblock %}

{% block links %}{% endblock %}