{% extends "directory/base_category_region.html" %}

{% block title %}Swingers clubs in {{ region }}{% endblock %}

{% block description %}Complete List of {{ region.name }} Adult Clubs and Online Swinger Sites for Couples with Links, E-Mails, Phones and Addresses{% endblock %}

{% block breadcrumbs %}&gt; Swingers clubs in {{ region }}{% endblock %}

{% block region_page_title_prefix %}Swingers clubs{% endblock %}

{% block by_region_title_prefix %}Swing Clubs{% endblock %}

{% block by_region_item_suffix %}Swingers{% endblock %}