{% extends "directory/base_csvmap.html" %}

{% block homepage_anchor %}Swingers	Swingers Clubs	Sex Clubs	Swinger clubs	Swingers club{% endblock %}

{% block country_anchor_prefix %}Swingers in {{country}}	Swingers clubs in {{country}}	Sex clubs in {{country}}	Swingers ads in {{country}}	Swingers profiles in {{country}}{% endblock %}

{% block state_anchor_prefix %}Swingers in {{state}}	Swingers clubs in {{state}}	Sex clubs in {{state}}	Swingers ads in {{state}}	Swingers profiles in {{state}}{% endblock %}

{% block club_anchor_suffix %}{{club.name}} Swingers Club	{{club.name}} Sex Club	{{club.name}} Club	{{club.name}} Swingers	{{club.name}} Party{% endblock %}
