{% extends "directory/base_state.html" %}

{% block title %}Swingers clubs &amp; Sex clubs in {{ state }}{% endblock %}

{% block description %}Complete List of {{ state.name }} Adult Clubs and Online Swinger Sites for Couples with Links, E-Mails, Phones and Addresses{% endblock %}

{% block breadcrumbs %}&gt; Swingers clubs &amp; Sex clubs in {{ state }}{% endblock %}

{% block state_page_title_prefix %}Swingers clubs &amp; Sex clubs{% endblock %}

{% block by_state_title_prefix %}Swing Clubs{% endblock %}

{% block by_state_item_suffix %}Swingers{% endblock %}