<html>
<body>
<!-- homepage -->
<a href="http://{{request.get_host}}/">All Swingers Clubs & Sex Clubs</a>
<!-- states -->
{% for state in all_states%}
<a href="http://{{request.get_host}}{{ state.get_absolute_url }}">Swingers clubs & Sex clubs in {{state}}</a>
{% endfor %}
<!-- clubs -->
{% for club in all_clubs%}
<a href="http://{{request.get_host}}{{ club.get_absolute_url }}">{{club.name}} Swingers Club & Sex Club</a>
{% endfor %}
<!-- articles -->
{% for article in all_flatpages%}
<a href="http://{{request.get_host}}{{ article.get_absolute_url }}">{{ article.title }}</a>
{% endfor %}

</body>
</html>