{% extends "decorator.html" %}
{% load tagging_tags %}
{% block extrahead %}

<script type="text/javascript">
    

</script>
{% endblock %}
{% block title %}Tag clubs list {% endblock %}

{% block content %}
    <h1>Clubs list</h1>
    <div id="main">
    
       {% tag_cloud_for_model directory.Club as club_tags %}
       
       {% tagged_objects seeking_tag in directory.Club as clubs%}
        {% for club in clubs %}
            <a href="{{ club.get_absolute_url }}">{{ club.name }}</a><br />
        {% endfor %}
    </div>
{% endblock %}