<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<link rel="stylesheet" href="/ststyle.css" type="text/css">

<title>{% block title %}Sex tourism?{% endblock %}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{% block google_analytics_id %}{% endblock %}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/JavaScript" src="/scripts.js"></script>
{% block inhead_global %}{% endblock %}
</head>

<body>
<div id=container>
	<div id=header>
		<h2>Sex tourism</h2>
	</div>
<a href="/"><div id=logo title="Sex tourism logo">
	</div></a>


	<div id=center>

		<div id=menu>
			<ul>
				<li><a href="/">Sex tourism: FAQ</a></li>
				<li><a href="/forum/">Sex tourism forum</a></li>
                {% for flatpage in flatpages %}
        		<li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
            	{% endfor %}
			</ul>
		</div>

		<div id=content>
<script  type="text/javascript" src="http://swingsystem.net/in.cgi?7&amp;RANDOM={% now "U" %}"></script>
<br>
{% block content %}
{% endblock content %}

{% block aftercontent %}
{% endblock aftercontent %}			
		</div>


	</div>

	<div id=footer>
		<ul>
				<li><a href="/">Sex tourism: FAQ</a></li>
                {% for flatpage in flatpages %}
        		<li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
				{% endfor %}
		</ul>
	</div>

</div>
</body>
</html>
