{% extends "decorator.html" %}

{% block content %}
<h1>Forum Boards</h1>

<div id="main">
<dl>
{% for group in groups %}
    <dt><h2><a href="{% url forum.views.forum_group group_id=group.id %}">{{ group.name|safe }} board</a> ({{ group.posts.count }} posts)</h2></dt>

    <dd>{{ group.description|striptags|safe }}</dd>
{% empty %}
    <dt>No groups.</dt>
{% endfor %}
</dl>

{% include 'forum/pagination.html' with items=groups %}

</div>

{% endblock content %}

{% block links %}{% endblock links %}