{% extends "decorator.html" %}
{% load paging_extras %}

{% block breadcrumbs %}
&gt; <a href="/forum/">Forum</a> &gt; <a href="{{ post.group.get_absolute_url }}">{{ post.group.name|safe }}</a> board &gt; topic "{{ post.title|safe }}"
{% endblock %}

{% block content %}

<h1>{{ post.title|safe }}</h1>

<div id="main">
<dl>
  <dt>
    {{ post.content|safe }}
    <small>
    Author: {% if post.author %}{{ post.author.name }}{% else %}UFO{% endif %}
    &nbsp;|&nbsp;
    Created: {{ post.created_at }}
    </small>
    <p></p>
    <h2>Comments:</h2>

    {% paginate comments from request as comments2 per_page 25 False %}
    {{ comments2.paging }}
      <ul>
        {% for comment in comments2.objects %}
        <li>
          <span>{{ comment.content|safe }}</span>
          <small>
            Author: {% if comment.author %}{{ comment.author.name }}{% else %}Anonynous{% endif %}
            &nbsp;|&nbsp;
            Created: {{ comment.created_at }}
          </small>
          <p></p>
          <p>&nbsp;</p>
        </li>
        {% endfor %}
      </ul>
    {{ comments2.paging }}

  </dt>
  <dd></dd>
</dl>
</div>

{% endblock content %}

{% block links %}{% endblock links %}
