{% extends "decorator.html" %}

{% block content %}
<h1>{{ post.title }}</h1>

<div id="main">
<dl>
  <dt>
    {{ post.content|safe }}
    <small>
    Author: {% if post.author %}{{ post.author.name }}{% else %}UFO{% endif %}
    &nbsp;|&nbsp;
    Created: {{ post.created_at }}
    </small>
    <p></p>
    <h2>Comments:</h2>

    {% include 'forum/pagination.html' with items=comments %}
    
    <ul>
      {% for comment in comments %}
      <li>
        <span>{{ comment.content|safe }}</span>
        <small>
          Author: {% if comment.author %}{{ comment.author.name }}{% else %}Anonynous{% endif %}
          &nbsp;|&nbsp;
          Created: {{ comment.created_at }}
        </small>
        <p></p>
        <p>&nbsp;</p>
      </li>
      {% endfor %}
    </ul>

    {% include 'forum/pagination.html' with items=comments %}

  </dt>
  <dd></dd>
</dl>
</div>  

{% endblock content %}

{% block links %}{% endblock links %}